nav {
  display: flex;
  background-color: rgb(21, 83, 191);
}

body {
  background-color: rgb(214, 214, 214);
}

h5,
h3 {
  text-align: center;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  height: 3vh;
}
.navbar li {
  width: 100%;
  text-align: center;
}

li a {
  padding: 50px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

li a:hover {
  color: rgb(223, 120, 52);
}

.excercise,
.adminWordsList {
  width: 30%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(21, 83, 191);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(223, 120, 52);
  box-shadow: 0 4px 8px 0 rgba(5, 138, 253, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-spacing: 2px;
}

.tableRow {
  border: 1px solid black;
}
.englishWord {
  padding-left: 50px;
}

.inputField {
  padding-right: 50px;
  padding-left: 30px;
}

.button {
  font-weight: bold;
  background-color: white;
  border: 3px solid rgb(223, 120, 52);
  cursor: pointer;
}

.editButton,
.deleteButton {
  width: 60px;
}

.editButton:hover {
  background-color: orange;
}

.deleteButton:hover {
  background-color: red;
  border: 3px solid black;
}

.button a {
  text-decoration: none;
  color: black;
}
.button:active {
  background-color: orange;
}

.adminWordsList .button {
  margin-left: 5px;
}

.checkScore,
.retry {
  position: relative;
  top: 2px;
  text-align: center;
  margin-left: 150px;
  width: 100px;
}

.finnishWord {
  padding-left: 30px;
}

#score {
  font-size: 20px;
}

.addWord {
  margin: auto;
  max-width: 50%;
  padding: 10px;
  background-color: rgb(21, 83, 191);
  color: white;
  margin-top: 10px;
  border: 2px solid rgb(223, 120, 52);
}

.addWord .inputField {
  margin: 5px;
  max-width: 65%;
}

#editTask {
  margin-left: auto;
  margin-right: auto;
}

.updateButton {
  margin-top: 10px;
  position: relative;
  left: 90px;
}
.updateButton:active {
  background-color: blue;
  color: white;
}

#message {
  text-align: center;
}
